h1{
    background-color: #a334db;
    color: #fff;
    padding: 20px;
    background-color:crimson
}

title{
    color: #8b635c;
    padding: 20px;
  }

  body{
    background-color: cea289;
    color: #fff;
    padding: 20px;
      
  p{color: #8b635c;
    size: 12px;
    background-color: aqua;
   }

