h1 {
    background-color: #a334db;
    color: #fff;
    padding: 20px;
    background-color: crimson;
}

title {
    color: rgb(255, 255, 255);
    padding: 20px;
}

  body {
    background-color: beige;
    color: #fff;
    padding: 20px;
}
  
