h1 {
    background-color: #8b635c;
    color: #fff;
    padding: 20px;
    background-color: crimson;
}

title {
    color: rgb(255, 255, 255);
    padding: 20px;
}

  body {
    background-color: #8b635c;
    color: #fff;
    padding: 20px;
}
  
